 .u-section-1 {
  min-height: 150px;
}

.u-section-1 .u-sheet-1 {
  min-height: 129px;
}

.u-section-1 .u-text-1 {
  font-family: coradium;
  margin: 25px auto;
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin: 21px auto 60px 19px;
} .u-section-3 {
  min-height: 150px;
}

.u-section-3 .u-sheet-1 {
  min-height: 129px;
}

.u-section-3 .u-text-1 {
  font-family: coradium;
  margin: 25px auto;
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }
}

.u-section-4 .u-sheet-1 {
  min-height: 495px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 350px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/blackmail/missing1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 6px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/blackmail/missing1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 6px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/blackmail/missing1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 6px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-image-4 {
  height: 213px;
  width: 213px;
  background-image: url("images/blackmail/missing1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 396px;
  }

  .u-section-4 .u-image-1 {
    height: 165px;
    width: 165px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-2 {
    height: 165px;
    width: 165px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-3 {
    height: 165px;
    width: 165px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-4 {
    height: 165px;
    width: 165px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
}@font-face {
  font-family: 'coradium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/coradium.ttf);
}