.u-section-1 .u-sheet-1 {
  min-height: 695px;
}

.u-section-1 .u-table-1 {
  margin: 70px auto 60px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-7101-4 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}