 .u-section-1 {
  min-height: 150px;
}

.u-section-1 .u-sheet-1 {
  min-height: 129px;
}

.u-section-1 .u-text-1 {
  font-family: coradium;
  margin: 25px auto;
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  margin: 21px auto 60px 14px;
}@font-face {
  font-family: 'coradium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/coradium.ttf);
}