 .u-section-1 {
  min-height: 150px;
}

.u-section-1 .u-sheet-1 {
  min-height: 129px;
}

.u-section-1 .u-text-1 {
  font-family: coradium;
  margin: 25px auto;
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1040;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 50px;
  grid-template-rows: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 420px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/posters/tbdposter.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px 19px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 0 1px;
}

.u-section-2 .u-text-2 {
  margin: 0 0 0 224px;
}

.u-section-2 .u-social-icons-1 {
  height: 57px;
  min-height: 16px;
  width: 124px;
  min-width: 42px;
  margin: -10px auto 0 25px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-2 {
  height: 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/posters/tbdposter.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px 19px;
}

.u-section-2 .u-text-3 {
  margin: 0 1px;
}

.u-section-2 .u-text-4 {
  margin: 0 0 0 224px;
}

.u-section-2 .u-social-icons-2 {
  height: 57px;
  min-height: 16px;
  width: 124px;
  min-width: 42px;
  margin: -10px auto 0 25px;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-4 {
  height: 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/posters/tbdposter.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 29px 19px;
}

.u-section-2 .u-text-5 {
  margin: 0 1px;
}

.u-section-2 .u-text-6 {
  margin: 0 0 0 224px;
}

.u-section-2 .u-social-icons-3 {
  height: 57px;
  min-height: 16px;
  width: 124px;
  min-width: 42px;
  margin: -10px auto 0 25px;
}

.u-section-2 .u-icon-5 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-6 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 375px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 24px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 24px;
  }

  .u-section-2 .u-social-icons-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 24px;
  }

  .u-section-2 .u-social-icons-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 331px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}@font-face {
  font-family: 'coradium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/coradium.ttf);
}