 .u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 129px;
}

.u-section-1 .u-text-1 {
  font-family: coradium;
  margin: 25px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 318px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 969px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 731px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 16px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 16px auto 0 15px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 15px;
}

.u-section-2 .u-text-3 {
  margin: -28px 15px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 465px;
  height: 604px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 3px auto -73px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 183px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: -28px 36px 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 183px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-9 {
  margin: -28px 36px 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 183px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: -28px 36px 0 auto;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 183px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-15 {
  margin: -28px 34px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-2 .u-image-1 {
    width: 435px;
    height: 565px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 151px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 151px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 151px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 151px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 325px;
    height: 422px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 416px;
  }
}@font-face {
  font-family: 'coradium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/coradium.ttf);
}